.spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
.spin-pl {
  -webkit-animation: spin 4s linear infinite normal;
  -moz-animation: spin 4s linear infinite normal;
  animation: spin 4s linear infinite normal;
}
.spin-cw {
  -webkit-animation: spin 4s linear infinite reverse;
  -moz-animation: spin 4s linear infinite reverse;
  animation: spin 4s linear infinite reverse;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zoom {
  animation: zoom 2s ease-in-out;
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.swing {
  animation: swing 3s infinite ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.bonusUp {
  animation: bonusUp 800ms ease-in;
  animation-fill-mode: both;
}
@keyframes bonusUp {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-300%);
    opacity: 0;
  }
}

.warning {
  animation: warning 800ms linear infinite;
}
@keyframes warning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blinking 1000ms ease-out;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.found {
  animation: blinking 1000ms ease-out;
}
@keyframes found {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.color-switch {
  animation: color-switch 1000ms ease-out infinite;
}
@keyframes color-switch {
  0% {
    background-color: #5d279e;
  }
  24% {
    background-color: #5d279e;
  }
  25% {
    background-color: #a71fe1;
  }
  49% {
    background-color: #a71fe1;
  }
  50% {
    background-color: #e11f26;
  }
  74% {
    background-color: #e11f26;
  }
  75% {
    background-color: #ff49b8;
  }
  100% {
    background-color: #ff49b8;
  }
}

.exhaust {
  animation: exhaust 100ms ease-out;
}
@keyframes exhaust {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.floating {
  animation: floating 2000ms ease-out infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.glow {
  animation: glow 1000ms linear infinite;
}
@keyframes glow {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.disappear {
  animation: disappear 1000ms ease-out;
}
@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.pulsing {
  animation: pulsing 2500ms ease-out infinite;
}
@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.impulse {
  animation: pulsing 200ms ease-out;
}

@keyframes impulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.appear-opacity {
  animation: appear-opacity 1000ms ease-out;
  animation-fill-mode: backwards;
}
@keyframes appear-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.disappear-opacity {
  animation: disappear-opacity 1000ms ease-in;
  animation-fill-mode: forwards;
}
@keyframes disappear-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.appear-zoom {
  animation: appear-zoom 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
  animation-fill-mode: backwards;
}
.show-zoom {
  animation: appear-zoom 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
  will-change: contents;
}
@keyframes appear-zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.appear-top {
  animation: appear-top 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  opacity: 0;
  will-change: contents;
}
@keyframes appear-top {
  0% {
    opacity: 0;
    transform: translateY(-45px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.appear-bottom {
  animation: appear-bottom 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: backwards;
  will-change: contents;
}
@keyframes appear-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.infinite {
  animation-iteration-count: infinite !important;
}
.duraton200ms {
  animation-duration: 200ms !important;
}
.duration5s {
  animation-duration: 15s !important;
}

.delay300ms {
  animation-delay: 300ms !important;
}
.delay500ms {
  animation-delay: 500ms !important;
}
.delay800ms {
  animation-delay: 800ms !important;
}
.delay1s {
  animation-delay: 1s !important;
}
.delay2s {
  animation-delay: 2s !important;
}
.delay3s {
  animation-delay: 2s !important;
}

.dancing {
  animation: dancing 1000ms ease-out infinite;
  transform-origin: 0% 100%;
}
@keyframes dancing {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.93);
  }
  100% {
    transform: scaleY(1);
  }
}

.lights {
  animation: lights 4000ms ease-out infinite;
}
@keyframes lights {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lights-even {
  animation: lights-even 4000ms ease-out infinite;
}
@keyframes lights-even {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blob-scale {
  0% {
    transform: scaleX(0.8) scaleY(1) rotate(0deg);
  }
  25% {
    transform: scaleX(0.8) scaleY(0.8) rotate(90deg);
  }
  50% {
    transform: scaleX(1) scaleY(0.8) rotate(180deg);
  }
  75% {
    transform: scaleX(0.8) scaleY(0.8) rotate(270deg);
  }
  100% {
    transform: scaleX(0.8) scaleY(1) rotate(360deg);
  }
}

@keyframes blob-skew {
  0% {
    transform: skewY(0deg);
  }
  13% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  18% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  24% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }
  25% {
    transform: skewY(calc((2.5deg) * var(--amount, 2)));
  }
  26% {
    transform: skewY(calc((2.48deg) * var(--amount, 2)));
  }

  32% {
    transform: skewY(calc((2.2deg) * var(--amount, 2)));
  }
  37% {
    transform: skewY(calc((1.8deg) * var(--amount, 2)));
  }
  50% {
    transform: skewY(0deg);
  }
  63% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  68% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  74% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  75% {
    transform: skewY(calc((-2.5deg) * var(--amount, 2)));
  }
  76% {
    transform: skewY(calc((-2.48deg) * var(--amount, 2)));
  }
  82% {
    transform: skewY(calc((-2.2deg) * var(--amount, 2)));
  }
  87% {
    transform: skewY(calc((-1.8deg) * var(--amount, 2)));
  }
  100% {
    transform: skewY(0deg);
  }
}

.music-box {
  animation: music-box 2000ms ease-out infinite;
}
@keyframes music-box {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.03);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.03);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.03);
  }
  75% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.03);
  }
  85% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.03);
  }
  95% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.handling {
  animation: handling 2000ms ease-out infinite;
}
@keyframes handling {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button-switching {
  animation: button-switching 1500ms ease-out infinite;
}
@keyframes button-switching {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.ajusting {
  animation: ajusting 10000ms ease-in-out infinite;
}
@keyframes ajusting {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(100px);
  }
  30% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(300px);
  }
  60% {
    transform: translateY(200px);
  }
  80% {
    transform: translateY(380px);
  }
  100% {
    transform: translateY(0px);
  }
}

.parallax1 {
  animation: parallax 1000ms ease-in-out infinite;
  --position: 100px;
}
@keyframes parallax {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: var(--position, 100);
  }
}

.sprites {
  animation: sprites 600ms steps(7) infinite;
  animation-direction: alternate-reverse;
}
@keyframes sprites {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 100%;
  }
}

.spark {
  animation: spark-scale 5000ms linear infinite,
    spark-opacity 3000ms linear infinite;
}
@keyframes spark-scale {
  0% {
    transform: scale(0.5) rotate(0deg);
  }
  50% {
    transform: scale(1.3) rotate(180deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}

@keyframes spark-opacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fireworks {
  animation: fireworks-scale 1500ms ease-out infinite,
    fireworks-opacity 1500ms linear infinite;
}
@keyframes fireworks-scale {
  0% {
    transform: scale(0.1) rotate(0);
  }
  100% {
    transform: scale(1) rotate(-60deg);
  }
}

@keyframes fireworks-opacity {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
