@import url("https://fonts.googleapis.com/css2?family=Forum&family=Raleway:wght@400;500&display=swap");

.game * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  /* -webkit-user-drag: none;
    user-drag: none; */

  outline-style: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.game *:focus {
  outline: none;
}

.game #Container {
  overflow: hidden;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.game .page {
  overflow: hidden;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}

@media (max-width: 720px) {
}
