.g1 .game-container {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  transition: opacity 1000ms;
}

.g1 .game-area {
  position: absolute;
  display: block;
  left: 170px;
  top: 375px;
  width: 750px;
  height: 1500px;
  transition: opacity 1000ms;
}

.g1 .game-area-bg {
  position: absolute;
  display: block;
  left: 170px;
  top: 375px;
  width: 750px;
  height: 1500px;
  background-color: rgba(0, 0, 0, 0.7);
}
.g1 .game-area-columns {
  position: absolute;
  display: block;
  opacity: 0;
  transition: opacity 1000ms;
}
.g1 .game-area-column {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 75px;
  height: 1500px;
  background-color: rgba(113, 200, 239, 0.1);
}

.g1 .clear-area {
  position: absolute;
  display: block;
  left: 170px;
  top: 375px;
}
.g1 .clear-line {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 750px;
  height: 75px;
}

.g1 .clear-line-bg {
  position: absolute;
  display: block;
  left: 0px;
  top: 38px;
  width: 750px;
  height: 75px;
  background-image: url(../images/game1/row-glow.png);
  background-size: 100% 100%;
}

.g1 .clear-line-glow {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 750px;
  height: 75px;
  background-color: #fff;
  /* background-color: #01caf1;
  mix-blend-mode: color-dodge; */
}

.g1 .top-area {
  position: absolute;
  display: block;
  left: 170px;
  top: 200px;
  opacity: 0;
  transition: opacity 1000ms;
}
.g1 .next-title-area {
  position: absolute;
  display: block;
  left: 410px;
  top: 90px;
  width: 180px;
  height: 54px;
  color: #00caf1;
}

.g1 .next-area {
  position: absolute;
  display: block;
  left: 550px;
  top: 0px;
  width: 260px;
  height: 200px;
}

.g1 .score-area {
  position: absolute;
  display: block;
  left: 0px;
  top: 55px;
  width: 335px;
  height: 105px;
  color: #00caf1;
}

.g1 .pause-plate {
  position: absolute;
  display: block;
  left: 355px;
  top: 800px;
  width: 380px;
  height: 290px;
  background-color: #fff;
  border-radius: 30px;
  color: #00caf1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0px;

  box-shadow: 0px 0px 58px 7px #01caf1;
}

.g1 .finish-area {
  position: absolute;
  display: block;
  left: 170px;
  top: 285px;
  width: 750px;
  height: 700px;

  color: #00caf1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  opacity: 0;
  transition: opacity 1000ms;
}

.g1 .start-countdown-area {
  position: absolute;
  display: block;
  left: 170px;
  top: 375px;
  width: 750px;
  height: 1500px;

  color: #00caf1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.g1 .block0,
.g1 .block1,
.g1 .block2,
.g1 .block3,
.g1 .block4,
.g1 .block5,
.g1 .block6 {
  /* z-index: 1000; */
  /* font-size: 10px;
  line-height: 1em;
  font-family: arial; */
  position: absolute;
  width: 75px;
  height: 75px;
  padding: 1px;
  /* border: 0.5px solid  #ffffff; */
  /* with	margin 0.5px there were	problems with offsetLeft and offsetTop */
}

/*
	  |
	---
*/
.g1 .block0 {
  background-image: url(../images/game1/b0.png);
}

/*
	|
	---
*/
.g1 .block1 {
  background-image: url(../images/game1/b1.png);
}

/*
	--
   --
*/
.g1 .block2 {
  background-image: url(../images/game1/b2.png);
}

/*
	--
	 --
*/
.g1 .block3 {
  background-image: url(../images/game1/b3.png);
}

/*
	|
   ---
*/
.g1 .block4 {
  background-image: url(../images/game1/b4.png);
}

/*
	--
	--
*/
.g1 .block5 {
  background-image: url(../images/game1/b5.png);
}

/*
	----
*/
.g1 .block6 {
  background-image: url(../images/game1/b6.png);
}
