.game h1 {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 108px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game h2 {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.game h3 {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: normal;
  font-size: 84px;
  line-height: 84px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.game h4 {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.game p {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.game p.small {
  font-size: 16px;
  line-height: 16px;
}

.g1 .final-score {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.g1 .start-countdown {
  font-family: "MOSCOW2024";
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  text-align: left;
  padding: 0;
  margin: 0;
}
